@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/sass-google-fonts/src/GoogleFonts.scss";
@import "./mixin";

body{
    display: flex;
    align-items: center;

    .navbar{
        height: 100vh;
        width: fit-content;
    }

    h1 {
    @include fontstitle;
    }
}




